.review {
	margin: 0;

	margin-top: 60px;
	background-image: linear-gradient(
			72deg,
			rgba(198, 170, 90, 0) 0%,
			rgba(29, 94, 253, 0.8) 0%,
			rgba(35, 120, 237, 0.7) 100%,
			rgba(65, 255, 153, 0.7) 100%
		),
		url("./images/banner/testmonial.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.review__row {
	padding: 100px 30px;
	text-align: center;
	color: #fff;
}
.reviev__heading {
	color: #fff;
}
.review__desc {
	font-size: 20px;
	margin-bottom: 15px;
}
.review__rating {
	text-transform: uppercase;
	font-size: 13px;
}
.fa-star {
	color: gold;
}
