.download__heading {
	color: #faf8ff;
	font-size: 30px;
	line-height: 1.5;
	margin: 0;
}
.download {
	padding: 90px 40px;
	margin: 0;
	background-image: url("/images/banner/product.png");
}
.download__stores a {
	margin: 5px;
}
@media screen and (min-width: 699px) {
	.download__heading {
		text-align: left;
		font-size: 40px;
	}
	.download {
		padding: 90px 120px;
	}
}
@media screen and (min-width: 1020px) {
	.download__heading {
		font-size: 35px;
	}
	.download {
		display: flex;
		justify-content: space-around;
		padding: 90px 20px;
	}
}
