.footer {
	background-color: #1f1f1f;
	margin: 0;
	padding: 60px 20px;
}
#logo {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
.footer__list-item p {
	color: #889293;
	margin: 10px 0;
}
.item-icons {
	display: flex;
	margin-bottom: 15px;
}
.icon {
	margin-bottom: 20px;
	rotate: 270deg;
}
.icon a {
	display: flex;
	color: #676868;
	font-size: 20px;
	height: 0;
}
.fa-stack {
	margin-bottom: 50px;
}
.fa-inverse {
	color: #a6b0b1;
}
.footer h3 {
	font-size: 25px;
	color: #afaca7;
	margin: 15px 0;
}
.footer__list-item a {
	color: #676868;
	transition: filter 0.2s;
	margin: 10px 0;
}
.footer__list-item a:hover {
	filter: brightness(150%);
}
.footer__list-item {
	display: flex;
	flex-direction: column;
}

.copyrights {
	padding: 15px;
	background-color: black;
	text-align: center;
	color: #afaca7;
	margin: 0;
}
small a {
	color: rgb(68, 116, 247);
}
/* TABLET VIEW */
@media screen and (min-width: 699px) {
	.footer__list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.footer__list-item {
		width: 40%;
	}
	.icon {
		margin: 20px 0;
	}
}

/* DESKTOP VIEW */
@media screen and (min-width: 1020px) {
	.footer__list-item {
		width: 30%;
	}
	.footer__list {
		display: flex;
		justify-content: space-around;
		flex-wrap: nowrap;
	}
}
